@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="/Student/Index" class="btn btn-primary">Student</a>
<a href="/Department/Index" class="btn btn-primary">Department</a>
<a href="/Course/Index" class="btn btn-primary">Course</a>