@model Department

<label asp-for="DeptId"></label>
<input asp-for="DeptId" />

<label asp-for="DepartmentName"></label>
<input asp-for="DepartmentName" />

<label asp-for="Capacity"></label>
<input asp-for="Capacity" />