@model Department
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @Model.DeptId @Model.DepartmentName @Model.Capacity
</body>
</html>
