@model Department
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form asp-action="Edit">
        <input type="hidden" value="@Model.DeptId" />
        <partial name="DepartmentForm" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
